.desktop-1-child,
.law22-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.desktop-1-child {
  top: 3.125%;
  left: 2.22%;
  width: 12.9167%;
  height: 14.74%;
}
.home {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7.42%;
  left: 42.5%;
  font-size: var(--font-size-base);
  font-weight: 800;
  font-family: var(--font-inknut-antiqua);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 9.861%;
  height: 1.5625%;
}
.appointments1 {
  margin: 0;
}
.appointments,
.contact-us {
  cursor: pointer;
  position: absolute;
  top: 7.42%;
  left: 50%;
  font-weight: 800;
  display: inline-block;
  width: 20.55%;
  height: 4.785%;
}
.contact-us {
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 64.4%;
  font-size: var(--font-size-base);
  font-family: var(--font-inknut-antiqua);
  color: var(--color-white);
  text-align: left;
  width: 151px;
  height: 4.101%;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 2.45%;
  width: 1.74%;
  top: 8.23%;
  right: 10.49%;
  bottom: 89.32%;
  left: 87.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon1 {
  height: 2.14%;
  width: 1.52%;
  top: 8.52%;
  right: 4.66%;
  bottom: 89.34%;
  left: 93.82%;
}
.about-us {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7.42%;
  left: 75.76%;
  font-size: var(--font-size-base);
  font-family: var(--font-inknut-antiqua);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 142px;
  height: 3.125%;
}
.about-us,
.you-deserve1 {
  font-weight: 800;
}
.you-deserve {
  display:flex;
  flex-direction: column;
}
.blank-line1 {
  font-weight: 700;
}
.blank-line {
  display: block;
  font-size: 48px;
}
.get-free-legal-advice-from-ou { 
  font-size: 24px;
}
.you-deserve-fair-container {
  margin: 0;
  position: absolute;
  top: 35.546%;
  left: 50%;
  /* white-space: pre-wrap; */
  text-align: center;
  display: block;
  width: 50%;
  height: 22.361%;
  font-size: var(--font-size-45xl);
  font-family: var(--font-manuale);
}
.desktop-1-item,
.sign-in {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.desktop-1-item {
  background-color: #c29930;
  top: 70.99%;
  left: 68.82%;
  border-radius: 20px;
  width: 10%;
  height: 7.32%;
}
.sign-in {
  background-color: transparent;
  top: 72.558%;
  left: 69.65%;
  font-size: 32px;
  display: inline-block;
  font-style: italic;
  font-weight: 700;
  font-family: var(--font-manuale);
  color: var(--color-white);
  text-align:center;
  width: 13.68;
  height: 4.296%;
}
.desktop-1-inner {
  position: absolute;
  top: 4.297%;
  left: 0;
  width: 100%;
  height: 12.3%;
  object-fit: cover;
  mix-blend-mode: color-burn;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inknut-antiqua);
}