body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lexend: Lexend;
  --font-ledger: Ledger;
  --font-lalezar: Lalezar;
  --font-inter: Inter;
  --font-inika: Inika;
  --font-lato: Lato;
  --font-lao-sans-pro: "Lao Sans Pro";

  /* font sizes */
  --font-size-77xl: 34px;
  --font-size-45xl: 64px;
  --font-size-181xl: 50px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-8xl: 27px;
  --font-size-91xl: 110px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-41xl: 60px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-snow: #fffcfc;
  --color-darkkhaki-100: #a98d44;
  --color-khaki: #e8d285;
  --color-gainsboro: #d9d9d9;
  --color-papayawhip: #f7ecd2;
  --color-tan: #ac8c57;
  --color-saddlebrown: #5b330f;

  /* Border radiuses */
  --br-56xl: 75px;
  --br-181xl: 200px;
  --br-131xl: 150px;
  --br-21xl: 40px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-26xl: 45px;
  --br-3xs: 10px;
  --br-xs: 12px;
}
