{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href=".{% static 'global.css' %}" />
    <link rel="stylesheet" href=".{% static 'index.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="a4-1">
      <section class="a4-1-child"></section>
      <section class="a4-1-item"></section>
      <p class="protect-your-rights-container">
        <span class="protect-your-rights-today">
          <span class="protect-your-rights">Protect Your Rights Today</span>
        </span>
        <span class="blank-line">
          <span>
            <span>&nbsp;</span>
          </span>
        </span>
        <span class="expert-legal-services-for-indi">
          <span>
            <span>Expert Legal Services For Individual And Businesses</span>
          </span>
        </span>
        <span class="expert-legal-services-for-indi">
          <span>
            <span>Get The Justice You Deserve</span>
          </span>
        </span>
      </p>
      <button class="a4-1-inner"></button>
      <button class="sign-in" id="signIn">Sign In</button>
      <div class="rectangle-div"></div>
      <section class="rectangle-section"></section>
      <p class="about-lawcater-lawcater-container">
        <span class="protect-your-rights-today">
          <span>About LawCater</span>
        </span>
        <span class="protect-your-rights-today">
          <span>&nbsp;</span>
        </span>
        <span class="lawcater-is-a-leading-law-firm">
          <span
            >LawCater is a leading law Firm dedicated to providing exceptional
            legal services to individuals and businesses with a team of highly
            skilled and experienced lawyers, we offer comprehensive legal
            solutions tailored to meet the unique needs of our clients. Our
            commitment to excellence, integrity and client satisfaction sets us
            apart in the industry.</span
          >
        </span>
        <span class="protect-your-rights-today">
          <span>&nbsp;</span>
        </span>
        <span class="lawcater-is-a-leading-law-firm">
          <span
            >At LawCater, we understand the complexities of the legal landscape
            and strive to deliver practical and effective solutions to our
            clients. Whether you require assistance with corporate law,
            intellectual property, litigation or any other legal matter, our
            team is here to guide you every step of the way. we take pride in
            our ability to deliver personalised and cost-effective legal
            services, ensuring that our clients receive the best possible
            outcome in their legal matters.</span
          >
        </span>
      </p>
      <img class="rectangle-icon" alt="" src="{% static 'img-1.jpg' %}" />

      <section class="a4-1-child1"></section>
      <div class="our-services">Our Services</div>
      <img class="a4-1-child2" alt="" src="{% static 'img-2.jpg' %}" />

      <img class="a4-1-child3" alt="" src="{% static 'img-3.jpg' %}" />

      <img class="a4-1-child4" alt="" src="{% static 'img-4.jpg' %}" />

      <div class="legal-advices-for-container">
        <p class="legal-advices-for">Legal advices for businesses</p>
        <p class="legal-advices-for">&nbsp;</p>
        <p class="from-setting-up">
          from setting up a new business to handling disputes, we offer
          comprehensive legal advice to help your business thrive.
        </p>
      </div>
      <div class="personal-injury-claims-container">
        <p class="legal-advices-for">Personal injury claims</p>
        <p class="legal-advices-for">&nbsp;</p>
        <p class="from-setting-up">
          Our experienced team can help you get the compensation you you deserve
          for your personal injuries. Let us fight for your rights and justice.
        </p>
      </div>
      <div class="property-law-services-container">
        <p class="property-law-services">
          <span class="protect-your-rights">
            <span>Property law services</span>
          </span>
        </p>
        <p class="from-setting-up">
          <span>
            <span class="protect-your-rights">&nbsp;</span>
          </span>
        </p>
        <p class="from-setting-up">
          <span>
            <span
              >whether you need assistance with buying, selling or leasing a
              property, we have the expertise to guide you through the process
              and protect your interests.</span
            >
          </span>
        </p>
      </div>
      <section class="a4-1-child5"></section>
      <section class="lawcater-provided-exceptional-container">
        <p class="lawcater-provided-exceptional">
          LawCater provided exceptional legal services for my case. Their
          knowledgeable team guided me throughout the process, ensuring a smooth
          and successful outcome. I’m grateful for their professionalism and
          highly recommend their services to anyone in need of legal assistance
          in Mumbai.
        </p>
        <p class="property-law-services">&nbsp;</p>
        <p class="property-law-services">~Rhea</p>
      </section>
      <button class="log-in" id="logIn">Log In</button>
      <button class="pricing">Pricing</button>
      <button class="contact-us">Contact Us</button>
      <button class="appointments" autofocus="{true}">Appointments</button>
      <img class="a4-1-child6" alt="" src="{% static 'logo.jpg' %}" />

      <button class="rectangle-button"></button>
      <button class="a4-1-child7"></button>
    </div>

    <script>
      var logIn = document.getElementById("signIn");
      if (logIn) {
        logIn.addEventListener("click", function (e) {
          window.location.href="{%url 'clientlogin'%}"
        });
      }
      </script>
  </body>
</html>