<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{$ static 'lawyerlogin.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lao Sans Pro:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ledger:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="login-lawyer">
      <section class="login-lawyer-child"></section>
      <button class="forgot-password">Forgot password ?</button>
      <button class="sign-up">Sign up!</button>
      <main class="login-parent">
        <h1 class="login">Login</h1>
        <div class="frame-child"></div>
        <textarea class="username-box-1"> </textarea>
        <textarea class="password-box-1" text='password'> </textarea>
        <button class="remember-me-check-box"></button>
        <div class="remember-me">Remember me</div>
        <button class="login-wrapper">
          <b class="login1">LOGIN</b>
        </button>
        <h1 class="welcome-back">Welcome back!</h1>
        <h3 class="dont-have-an">Don’t have an account?</h3>
      </main>
    </div>
  </body>
</html>
